<% if(message) { %>
    <div class="<%= cssClass %>">
        <div class="motopress-close motopress-icon-remove" data-dismiss="alert"></div>
        <span>
            <%= message %>
        </span>
    </div>
<% } %>